@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.6) url('Images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}

/*---------------------Navbar ki stylings */
.header {
    background-color: #fff;
    width: 100vw;
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 12;
}

.container-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}

/*---------------------logo styling */


.header .logo {
    position: absolute;
    left: 30px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 50px;
}

.header .logo span {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    margin-left: 1.5vw;
}

/*---------------------navbar stylings */

.container-head .navbar {
    margin-left: 60vw;
}

/*---------------------links stylings */

.navbar a {
    position: relative;
    color: #000;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 17.5px;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    cursor: pointer;

}

.navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transform: scaleX(0);
    background-color: #000;
    transition: transform 0.5s;
    transform-origin: right;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* -----------------Reset All the sections */

section {
    width: 100vw;
}

/*---------------The heading of the main Section */

.section1 {
    height: 100vh;
}

.main-container {
    padding: 28vh 0;
    margin-left: 10vh;
    width: 64vw;
}

/* ----------------Right side */

.main-heading h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
}


.main-heading .para {
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 32px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

/* ----------------Buttons styling */
.btn-container {
    display: flex;
    justify-content: space-between;
    width: 29vw;
    font-family: 'poppins', sans-serif;
}

.button {
    font-size: 17px;
    font-weight: 500;
    outline: none;
    padding: 10px 0px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.btn1 a {
    text-decoration: none;
    color: #fff;
}

.btn1 {
    background-color: #3ebee5;
    width: 18vw;
}

.btn1:hover {
    background-color: #39b0d4;
}

.btn2 {
    color: #000;
    width: 10vw;
    background-color: #fff;
    text-transform: capitalize;
}

.btn2:hover {
    background-color: #e2e8f0;
    /* bg-gray-300 */
}

/*---------------The second Section */

.section2 {
    height: 240vh;
}

.section2 .heading {
    text-align: center;
    font-size: 55px;
    width: 15vw;
    padding-top: 3vh;
    margin: auto;
    margin-bottom: 5vh;
    border-bottom: 2px solid white;
    font-family: 'Kanit', sans-serif;
}

.section2 .container-section {
    width: 90vw;
}

.section2 .card-width {
    width: 30vw;
}

.all-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65vh;
}

.all-text p {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
}

.all-text h1 {
    font-size: 25px;
}

.all-text .card-link {
    height: 40px;
}

.card-link a {
    cursor: pointer;
    color: #000;
    background-color: white;
    padding: 2.5px 8px;
    border-radius: 3px;
}
.card-link a:hover{
    background-color:#e2e8f0;
}

.card-link a svg {
    transform: translate(-3px,1px);
    transition: 0.25s;
    color: #000;

}
.card-link a:hover svg {
    transform: translate(6px,1px);
}



/*---------------The Third Section */


.section3 {
    padding: 40px;
}

.section3 a {
    display: block;
    height: 10vh;
    pointer-events: none;
}

.section3 .heading {
    text-align: center;
    font-size: 55px;
    width: 18vw;
    padding: 3vh 0 2vh 0;
    margin: auto;
    margin-bottom: 5vh;
    border-bottom: 2px solid white;
    font-family: 'Kanit', sans-serif;
}


.section3 .about {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif;
    margin: 3vh 4vw;
    text-align: justify;
}


/* The style of Footer goes here */

footer {
    background-color: #1a202c;
    text-align: center;
    color: #bbb3b3;
    width: 100vw;
    height: 50px;
    padding: 7px 0;
}