@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #2e2e54;
}

/*---------------------Navbar ki stylings */
.header {
    background-color: #fff;
    width: 100vw;
    height: 11vh;
    position: sticky;
    top: 0;
    z-index: 12;
}

.container-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

/*--------------logo styling */


.header .logo {
    position: absolute;
    left: 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 50px;
}

.header .logo span {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    margin-left: 1.5vw;
}

/*---------------------navbar stylings */

.container-head .navbar {
    margin-left: 60vw;
}

/*---------------------links stylings */

.navbar a {
    position: relative;
    color: #000000;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 17.8px;
    text-decoration: none;
    margin-left: 19px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    cursor: pointer;

}

.navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 2px;
    border-radius: 5px;
    width: 100%;
    transform: scaleX(0);
    background-color: #000000;
    transition: transform 0.5s;
    transform-origin: right;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* -----------------Reset the sections */

.section1 {
    margin: 0 10px;
    margin-bottom: 60px;
    color: white;
}

.section-head {
    display: flex;
}

.heading {
    margin-left: 36.5vw;
}


.back-btn {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 4.5vw;
    height: 7vh;
    cursor: pointer;
}

.back-btn svg {
    width: 100%;
    height: 100%;
    color: #fff;
    transform: rotate(180deg);
}

.heading h1 {
    display: inline-block;
    text-align: center;
    font-size: 60px;
    letter-spacing: 1px;
    width: 25vw;
    color: white;
    text-shadow: 3px 1px 10px #fff;
    margin-bottom: 10vh;
    border-bottom: 2px solid;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.container {
    position: relative;
    width: 95vw;
    height: 80vh;
    margin-left: 15px;
    margin-bottom: 20px;
    display: flex;
}

.map {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67vw;
    height: 100%;
}
.googlemap{
    width: 60vw;
    height: 70vh;
    box-shadow: 0 0 30px;
}

.details {
    position: absolute;
    right: 0;
    width: 27vw;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins', sans-serif;
    box-shadow: 0 0 20px;
}

.data-list {
    display: flex;
    width: 325px;
    margin-top: 85px;
    gap: 5px;
}
.icon{
    font-size: 27px;
    margin: 0 10px;
}

.data {
    display: flex;
    flex-direction: column;
}

.data .data-head {
    font-size: 17px;
    font-weight: 600;
}

.data .data-text {
    margin-left: 3px;
}







/* ------------------The footer goes here */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    letter-spacing: 0.8px;
}