/* The style of Footer goes here */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

@media (max-width:580px) {
    footer {
        font-size: 15px;
    }
}

@media (max-width:430px) {
    footer {
        font-size: 14px;
    }
}

@media (max-width:400px) {
    footer {
        font-size: 13px;
    }
}