/* The media query of header starts from here */

    /* Hero section's styling goes here  */

    .main-content h1 {
        font-size: 45px;
    }

    .main-content .para {
        margin-top: 30px;
        font-size: 22px;
        line-height: 40px;
    }

    .button {
        font-size: 20px;
    }
