* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('../Images/Netwoking-BG.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/*         The listing goes here      */
.list-title {
    margin-bottom: 35px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listing {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-list {}

.listing li {
    /* list-style: none; */
    font-size: 18px;
}

.listing ul li {
    padding: 10px 0;
}

.listing ul {
    padding: 15px 0;
    width: 900px;
    margin: auto;
}

.main-list .name {
    font-size: 20px;
    font-weight: 500;
}

ul[type="circle"] {
    width: 700px;
    margin: auto;
}
