* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('../Images/Typing-BG.png');
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
