* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('../Images/Cpp-BG.png');
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* -----------------Reset the sections */
.heading h1 {
    width: 25vw;
}

/* .overview {
    font-family: 'roboto', sans-serif;
    line-height: 40px;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-align: justify;
} */

/* .duration {
    font-size: 30px;
    font-weight: 500;
    margin: 60px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */