* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('../Images/office.png');
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.list-program {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-head {
    margin-top: 60px;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.vertical-container {
    margin: 30px 0px;
    padding-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-program .vertical {
    width: 2px;
    background-color: white;
    height: 480px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.vertical .horizontal {
    width: 100px;
    background-color: white;
    height: 2px;
    margin-top: 30px;
}

.horizontal .content {
    position: relative;
    display: flex;
    top: -20px;
    left: 110px;
    min-width: 340px;
    align-items: center;
}

.horizontal .content h3 {
    font-size: 23px;
    margin-left: 10px;

}

.content img {
    width: 50px;
}

@media (max-width:780px) {
    .vertical-container {
        padding-left: 0px;
    }
    .horizontal .content{
        min-width: 280px;
    }
}

@media (max-width:480px) {
    .vertical .horizontal {
        width: 55px;
    }

    .horizontal .content {
        top: -23px;
        left: 60px;
    }

    .list-head {
        font-size: 20px;
    }
}

@media (max-width:400px) {
    .list-program .vertical {
        margin: 5px;
    }

    .vertical .horizontal {
        width: 20px;
    }

    .horizontal .content {
        top: -20px;
        left: 30px;
        min-width: 220px;
        justify-content: start;
    }

    .list-head {
        font-size: 20px;
    }

    .horizontal .content h3 {
        font-size: 21px;
        margin-left: 10px;
    }

    .content img {
        width: 40px;
    }
}